/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 320px) {

}

@media (max-width: 575.98px) { 
  .container {
    width: 95%;
  }
  #hero {
    min-height: 340px;
  }
  .navbar-light .navbar-toggler {
    color: #10c9c3;
    border-color: #10c9c3;
    background-color: #10c9c3;
  }
  .header-content {
    position: static;
    text-align: center;
    margin-top: 35px;
    transform: translate(0, 0);
  }
  .header-content h2 {
    font-size: 28px;
  }
  .header-content p {
    font-size: 16px;
    line-height: 32px;
  }
  .custom-btn {
    padding: 10px 28px;
    font-size: 10px;
  }
  #about {
    padding: 50px 0;
  }
  .skills-bar {
    padding: 50px;
    background-color: #f1f2f7;
    height: 400px;
  }
  #skills .skills-img {
    height: 400px;
  }
  #clients {
    padding: 50px 0;
  }
  .icon-box {
    padding: 15px 0;
  }
  .portfolio-items img {
    width: 100%;
    height: 380px;
  }
  #footer {
    padding: 50px 0;
  }
  .footer-one {
    text-align: center;
  }
  .footer-two {
    text-align: center;
  }
  #footer .footer-menu {
    justify-content: center;
  }
  .footer-three {
    text-align: center;
  }
  #nav {
    background-color: rgb(213, 213, 213, 0.8);
    text-align: center;
    margin-top: 10px;
    position: absolute;
    z-index: 99;
    width: 100%;
    top: 55px;
    left: 0;
  }
  #nav li {
    padding: 8px 0;
  }
  .main-menu ul li:last-child a {
    padding: 0 !important;
  }
 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
  .container {
    max-width: 600px;
  }
  #hero {
    min-height: 460px;
  }
  .header-content {
    left: 20%;
    text-align: center;
  }
  .icon-box {
    padding: 15px 0;
  }
  #footer {
    padding: 50px 0;
  }
  .footer-one {
    text-align: center;
  }
  .footer-two {
    text-align: center;
  }
  #footer .footer-menu {
    justify-content: center;
  }
  .footer-three {
    text-align: center;
  }
  #nav {
    background-color: rgb(213, 213, 213, 0.8);
    text-align: center;
    margin-top: 10px;
    position: relative;
    z-index: 99;
  }
  #nav li {
    padding: 8px 0;
  }
  .main-menu ul li:last-child a {
    padding: 0 !important;
  }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }